{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>zzz</title>
   <link rel="icon" href="assets/images/favicon.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all" />

    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css" media="all" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

   
</head>

<body>

    

   

    {% load static %}<br>
    {% static 'css/assets/bootstrap.min.css' %}<br>
    {% static 'css/assets/nice-select.css' %}<br>
    {% static 'css/assets/style.css' %}<br>
   
    {% static 'js/assets/jquery.ajaxchimp.min.js' %} <br>
    {% static 'js/assets/jquery-ui.js' %} <br>

  
wwwwwwwwww
  

     <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

    <script src="{% static 'js/jquery-ui.js' %}"></script>


</body>

</html>