{% extends "layout.html" %}



{% block body %}
   
    <div class="bubble-bg-animation">
        <div class="bubble-item">
            <img src="{% static 'assets/images/bubble-bg/bubble-1.png' %}" alt"bubble">
        </div>
        <div class="bubble-item">
            <img src="{% static 'assets/images/bubble-bg/bubble-1.png' %}" alt"bubble">
        </div>
        <div class="bubble-item">
            <img src="{% static 'assets/images/bubble-bg/bubble-1.png' %}" alt"bubble">
        </div>
        <div class="bubble-item">
            <img src="{% static 'assets/images/bubble-bg/bubble-1.png' %}" alt"bubble">
        </div>
        <div class="bubble-item">
            <img src="{% static 'assets/images/bubble-bg/bubble-2.png' %}" alt"bubble">
        </div>
    </div>

    <div class="header-bg-inner">
        <div class="header-carousel owl-carousel owl-theme default-carousel default-carousel-radius">
            <div class="item">
                <div class="row align-items-center">
                    <div class="col-lg-5 pb-30">
                        <div class="header-content text-center text-lg-start">
                            <h1>Web developer salute you 2023</h1>
                            <p>This is one of the best and latest collection on to global & international
                                market. Try to buy.</p>
                            <a href="shop-details.html" class="btn main-btn main-btn-radius">Buy Now</a>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-6 pb-30">
                        <div class="header-content-image">
                            <img src="{% static 'assets/images/self/self1.png' %}" alt"product">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row align-items-center">
                    <div class="col-lg-5 pb-30">
                        <div class="header-content text-center text-lg-start">
                            <h1>Popular Website Development Architectures</h1>
                            <p>This is one of the best and latest collection on to global & international
                                market. Try to buy.</p>
                            <a href="shop-details.html" class="btn main-btn main-btn-radius">Buy Now</a>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-6 pb-30">
                        <div class="header-content-image">
                            <img src="{% static 'assets/images/self/laptop.png' %}" alt"product">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 

{% endblock %}